# Ignore compiled class files
*.class

# Ignore VS Code settings
.vscode/

# Ignore macOS garbage files
.DS_Store

# Ignore Java build folders (if created later)
**/bin/
**/out/
**/target/
**/class

# Ignore temporary files
*.log.DS_Store
